body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background: url(img/dancefloor.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

body, a:link, a:visited, a:active{
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  position: absolute;
  right: 50px;
  top: -20px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  background: rgba(0, 0, 0, 0.2);
}

li a {
  display: inline-block;
  text-decoration: none;
}

li a:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
}

#topbar{
  width: 100%;
  text-align: center;
  height:32px;
  padding:15px 15px;
  background-color: #555;
}

.topbar-left{
  float: left;
  padding: 10px;
  font-size: 1.5em;
}

.topbar-right{
  float: right;
  padding: 10px;
  font-size: 1.5em;
}

.title{
  /*background-color: #777;*/
  font-size: 4em;
}

#danceFloor{
  position: fixed;
  bottom: 10px;
  left: 0;
  /*outline: 5px solid red;*/
  width: 100%;
  height: 40%;
  margin: 0 auto;
  padding: 0 50px;
  z-index: -100;
  pointer-events: none;
}

.dancer{
  /*border:10px solid red;*/
  border-radius:10px;
  position:absolute;
}

.targetArea{
  /*outline: 2px solid red;*/
    height: 100%;
    width: 50%;
    transform: translate(150px, -50px);
    pointer-events: all;
}

.dancer-image {
  transform: translateY(-500px);
  pointer-events: none;
}

.carlton {
  border:0;
  border-radius:0px;
  position:absolute;

  width: 400px;
  height: 400px;
  /*pointer-events: none;*/
}

.addDancerButton,
.button {
  margin: 20px;
}

.business {
  border:0;
  border-radius:0px;
  position:absolute;

  width: 400px;
  height: 400px;
  pointer-events: none;
}

footer {
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 10px;
}